<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rrrent.theia.dao.HouseResourceDao">

    <select id="findListPage" resultType="com.rrrent.theia.vo.HouseResourceVo">
        select hr.area,hr.bathroom,hr.house_layout,hr.name,hr.pay_mode payMode,hr.settings,hr.floor_type floorType,
         hr.house_layout houseLayout,hr.hall,hr.pre_img preImg,hr.room,hr.rent,hr.id
         from house_resource hr
    </select>

    <select id="findListPageByUserId" resultType="com.rrrent.theia.vo.HouseResourceVo">
        select hr.area,hr.bathroom,hr.house_layout,hr.name,hr.pay_mode payMode,hr.settings,hr.floor_type floorType,
         hr.house_layout houseLayout,hr.hall,hr.pre_img preImg,hr.room,hr.rent,hr.id
         from house_resource hr left join col_house ch on ch.house_id=hr.id where ch.user_id = #{userId}
    </select>



    <select id="findById" resultType="com.rrrent.theia.dto.HouseResourceDetailDto">
        select hr.id id, hr.name name, hr.house_layout houseLayout,su.mobile maintainerMobile,su.icon maintainerIcon,su.nickname
        maintainer,s.name storeName,hr.floor_type floorType,
        hr.pay_mode payMode,hr.hall hall, hr.room,hr.bathroom,hr.area,hr.selected,hr.update_time updateDate,
        hr.house_img houseImg,hr.rent,hr.settings,hr.floor_type,hr.settings,hr.floor floor,hr.des des,hr.orientation orientation
         ,hr.renovation_type renovationType,c.id cId,c.name cName,c.address address,c.architecture_age
         architectureAge,c.architecture_sum architectureSum
        ,c.architecture_type architectureType,c.develop_company
        developCompany,c.house_sum houseSum,c.second_hand_price secondHandPrice,c.service_fee serviceFee,
        c.service_company serviceCompany,c.latitude,c.longitude
         from house_resource hr left join sys_user su on su.id=hr.maintainer left join community c on hr.community_id
          = c.id
          left join store_user stu on stu.user_id = hr.maintainer left join  store s on s.id =stu.store_id
          WHERE hr.id = #{id}
    </select>

    <select id="findCountByUserIdHouseId" resultType="Integer">
        select count(1) from col_house where house_id = #{id} and user_id = #{userId}
    </select>

    <select id="findTagsByHouseId" resultType="com.rrrent.theia.vo.TagVo">
        select t.name,t.value from tag_house_relation thr left join tags t on t.id = thr.tag_id where thr.house_id =
        #{id} and t.type="GENERAL"
    </select>

    <select id="findAllTags" resultType="com.rrrent.theia.vo.TagVo">
        select t.name,t.value from tags t
    </select>

    <insert id="collect" parameterType="java.util.Map">
        INSERT INTO col_house
            (user_id, house_id)
        VALUES
            (#{userId},#{id})
    </insert>

    <delete id="cancelCollect" parameterType="java.util.Map">
        delete from col_house
         where
            user_id = #{userId} and house_id = #{id}
    </delete>

    <select id="countHouseResource" resultType="Integer">
        SELECT count(0)
        FROM house_resource w
    </select>

    <select id="listHouseResource" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            w.id                                      id,
            w.name ,
            date_format(w.create_time, '%Y.%m.%d %T') createTime
        FROM house_resource w
        ORDER BY w.id DESC
        LIMIT #{offSet}, #{pageRow}
    </select>

    <insert id="addHouseResource" parameterType="com.alibaba.fastjson.JSONObject">
        INSERT INTO `rrrent`.`house_resource` (`area`, `bathroom`, `floor`, `room`, `hall`, `pre_img`, `orientation`, `renovation_type`, `des`,
         `house_img`, `house_layout`, `name`, `selected`, `maintainer`, `settings`, `pay_mode`, `floor_type`, `rent`, `community_id`) VALUES
        (#{area}, #{bathroom}, #{floor}, #{room},#{hall},#{preImg1},#{orientation}, #{renovationType}, #{des},
        #{houseImgs},#{houseLayout},#{name},#{selected}, #{maintainer}, #{settings},
        #{payMode},#{floortype},#{rent},#{community_id});
    </insert>
</mapper>