<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rrrent.theia.dao.RegionStreetDao">
    <select id="findByCode" resultType="com.rrrent.theia.vo.RegionVo">
    select region_code code,name from region_street where `region_code`  = #{code}
  </select>

</mapper>